
<div class="nav">
    <div class="navel"><a href="signed"> Petition |</a></div>
    <div class="navel"><a href="signers"> Signers |</a></div>
    <div class="navel"><a href="edit"> Edit profile |</a></div>
    <div class="navel"><a href="delete"> Delete signature |</a></div>
    <div class="navel"><a href="logout">Logout</a></div>
</div>

<section>
<h1>We, citizens of {{cityselected}},</h1>
    <h1>want to make the world a better place!</h1>

<p>
    {{#each signers}}
    <ul class="signers">  
        {{#if url}}
        <a href={{url}}>{{this.fullname}}</a>  {{this.age}}  <a href="/signers:{{this.city}}">{{this.city}}</a> 
{{else}}
       {{this.fullname}}  {{this.age}}  <a href="/signers:{{this.city}}">{{this.city}}</a>
         {{/if}}
    </ul>
    {{/each}}
    </p>
</section>